<nav style="background-color: #050524; padding: 1rem;">
  <!-- Enlace a la Home -->
  <a routerLink="/home" style="color: white; margin-right: 15px; text-decoration: none;">
    🏠 Inicio
  </a>

  <!-- Enlace al Login -->
  <a routerLink="/login" style="color: white; margin-right: 15px; text-decoration: none;">
    🔒 Iniciar Sesión 
  </a>

    <!-- Enlace al Conocenos -->
  <a routerLink="/conocenos" style="color: white; margin-right: 15px; text-decoration: none;">
    ℹ️ Conócenos 
  </a>

    <!-- Enlace al Faq-->
  <a routerLink="/faq" style="color: white; margin-right: 15px; text-decoration: none;">
    ❓ FAQ 
  </a>
</nav>
