/* --- ESTILOS GENERALES --- */
section {
  padding: 80px 20px;
  text-align: center;
}

/* --- SECCIÓN HERO --- */
.hero {
  font-family: 'montserrat', 'Segoe UI', sans-serif;
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;

  /* El vídeo de fondo */
  .video-fondo {
    border-radius: 20px;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para que cubra todo sin deformarse */
    z-index: -2;
    filter: blur(4px); /* EFECTO DIFUMINADO */
  }

  /* Capa oscura encima del vídeo */
  .overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Negro al 60% de transparencia */
    z-index: -1;
  }

  h1 {
    font-family: 'montserrat', 'Segoe UI', sans-serif;
    font-size: 4rem;
    font-weight: 800;
    text-shadow: 0 4px 10px rgba(0,0,0,0.5);
    margin-bottom: 20px;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
}

/* --- BOTONES --- */
.btn-cta {
  /* Fondo con degradado moderno */
  background: linear-gradient(135deg, #00c6ff 0%, #0072ff 100%);
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 1.2rem;
  font-weight: 700;        /* Letra más gordita */
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase; /* Todo mayúsculas queda mejor en botones */
  letter-spacing: 1px;       /* Un poco de aire entre letras */
  box-shadow: 0 4px 15px rgba(0, 114, 255, 0.4); /* Sombra azul brillante */
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-3px); /* Se levanta un poco */
    box-shadow: 0 6px 20px rgba(0, 198, 255, 0.6); /* Brilla más */
  }

  &.grande {
    font-size: 2rem;
    padding: 20px 60px;
    margin-bottom: 40px;
  }
}

/* --- SECCIÓN QUIÉNES SOMOS --- */
.quienes-somos {
  font-family: 'Montserrat', 'Segoe UI', sans-serif;
  
  /* FONDO PRINCIPAL DE LA SECCIÓN */
  background: rgba(22, 22, 99, 0.85); 
  backdrop-filter: blur(10px); /* Efecto cristal */
  color: #e2d1d1; /* Texto claro */
  
  /* Espaciado y bordes */
  border-radius: 20px;
  padding: 60px 40px;
  margin: 60px auto 0 auto;
  max-width: 1200px; /* Para que no se estire infinito en pantallas grandes */
  
  /* Sombra sutil para separarlo del fondo */
  box-shadow: 0 20px 50px rgba(0,0,0,0.3);

  /* TÍTULO PRINCIPAL */
  h2 { 
    margin-bottom: 80px; 
    font-size: 2.8rem;
    color: #fff;
    text-shadow: 0 2px 10px rgba(0,0,0,0.5);
    font-weight: 800;
  }

  /* GRID DE TARJETAS Louis y Arsen */
  .equipo-grid {
    font-family: 'Montserrat', 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  /* TARJETA INDIVIDUAL */
  .miembro {
    background: rgba(0, 0, 0, 0.3); 
    padding: 30px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255,0.05);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px); /* Pequeña animación al pasar el ratón */
    }

    img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 20px;
      border: 4px solid #e06b3d;
    }

    .rol {
      color: #ff9f43; 
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.9rem;
      letter-spacing: 1px;
    }

    h3 {
      color: #fff;
      margin-bottom: 10px;
      font-size: 1.5rem;
    }
    
    p {
      color: #ccc; 
    }
  }

  /* BLOQUE DE TEXTO "NUESTRO OBJETIVO" */
  .proyecto-info {
    margin-top: 80px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    line-height: 1.8;
    
    /* Estilo caja destacada */
    background: rgba(0, 0, 0, 0.2);
    padding: 40px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.1);

    h3 {
      color: #00bef3;
      font-size: 2rem;
      margin-bottom: 20px;
      font-weight: 700;
      text-transform: uppercase;
    }
    
    p {
      color: #f1f2f6; 
    }
  }
}

/* --- SECCIÓN PROYECTO Y MISIÓN --- */
.proyecto-mision {
    border-radius: 20px;
    padding: 40px;
    margin: 60px auto 0 auto;
    background: rgba(22, 22, 99, 0.9); /*semitransparente */
   color: #e0e0e0;      /* texto verde oscuro */

  .proyecto-info {
    font-family: 'montserrat', 'Segoe UI', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.6;

    h3 {
      font-size: 2rem;
      margin-bottom: 50px;
    }
  }
} 
/* --- SECCIÓN FINAL --- */
.cta-final {
  background: rgba(5, 5, 36, 0.8);
  color: white;
  padding: 80px 20px; /* Le faltaba padding */

  h1 {
    font-family: 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #0e97d6;
  }

  h2 {
    font-family: 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 40px;
    color: #0e97d6;
  }
} 

/* --- CARRUSEL ORBITAL DE STEAM --- */
.steam-orbit {
  padding: 100px 20px;
  background: radial-gradient(circle, #0f0f2e 0%, #050510 100%);
  border-radius: 30px;
  margin-top: 50px;
  text-align: center;
  position: relative;
  overflow: hidden;

  h2 {
    font-size: 2.6rem;
    color: #fff;
    margin-bottom: 60px;
    text-shadow: 0 0 20px rgba(0, 198, 255, 0.5);
    font-family: 'Montserrat', sans-serif;
  }

  
  h3 {
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 80px;
    text-shadow: 0 0 20px rgba(0, 198, 255, 0.5);
    font-family: 'Montserrat', sans-serif;
  }
}

.orbit-container {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  /* El contenedor gira a la derecha */
  animation: spin-right 20s linear infinite;
}

/* --- LOGO CENTRAL --- */
.orbit-center {
  position: absolute;
  top: 50%; left: 50%;
  width: 120px; height: 120px;
  margin: -60px 0 0 -60px;
  z-index: 10;
  /* Gira a la izquierda para parecer quieto */
  animation: spin-left 20s linear infinite;

  img {
    width: 100%;
    filter: drop-shadow(0 0 20px #00c6ff);
  }
}

/* --- ITEMS DEL CARRUSEL --- */
.orbit-item {
  position: absolute;
  top: 50%; left: 50%;
  width: 80px; height: 80px;
  margin: -40px 0 0 -40px;
}

.orbit-center img {
  align-items: center;
  margin-top: 20px;
  border-radius: 80%; /* Redondo */
  object-fit: cover;
  border: 3px solid rgba(0, 198, 255, 0.7);
  box-shadow: 0 0 20px rgba(0, 198, 255, 0.5);
}

/* Posicionamos los items en círculo */
.orbit-item:nth-child(2) { transform: rotate(0deg)   translateX(200px); }
.orbit-item:nth-child(3) { transform: rotate(45deg)  translateX(200px); }
.orbit-item:nth-child(4) { transform: rotate(90deg)  translateX(200px); }
.orbit-item:nth-child(5) { transform: rotate(135deg) translateX(200px); }
.orbit-item:nth-child(6) { transform: rotate(180deg) translateX(200px); }
.orbit-item:nth-child(7) { transform: rotate(225deg) translateX(200px); }
.orbit-item:nth-child(8) { transform: rotate(270deg) translateX(200px); }
.orbit-item:nth-child(9) { transform: rotate(315deg) translateX(200px); }

/* --- IMAGEN DENTRO --- */
.orbit-item img {
  width: 100%; height: 100%;
  border-radius: 50%; /* Redondos */
  object-fit: cover;
  border: 2px solid rgba(0, 198, 255, 0.5);
  box-shadow: 0 0 15px rgba(0, 198, 255, 0.3);

  &:hover {
    box-shadow: 0 0 25px #00c6ff, 0 0 40px #00c6ff;
    transform: scale(1.5);
    transition: all 0.4s ease;
  }

  /*Usamos una animación específica para cada elemento que empieza en su ángulo negativo 
  y da una vuelta completa (-360deg) relativa a ese ángulo. */
}




/* Asignamos una animación única a cada imagen para que empiece recta */
.orbit-item:nth-child(2) img { animation: spin-0 20s linear infinite; }
.orbit-item:nth-child(3) img { animation: spin-45 20s linear infinite; }
.orbit-item:nth-child(4) img { animation: spin-90 20s linear infinite; }
.orbit-item:nth-child(5) img { animation: spin-135 20s linear infinite; }
.orbit-item:nth-child(6) img { animation: spin-180 20s linear infinite; }
.orbit-item:nth-child(7) img { animation: spin-225 20s linear infinite; }
.orbit-item:nth-child(8) img { animation: spin-270 20s linear infinite; }
.orbit-item:nth-child(9) img { animation: spin-315 20s linear infinite; }

/* DEFINIMOS LAS ANIMACIONES CALCULADAS */
/* Cada una empieza en el ángulo negativo (para estar recta) y resta 360 grados */

@keyframes spin-right { 100% { transform: rotate(360deg); } }
@keyframes spin-left  { 100% { transform: rotate(-360deg); } }

@keyframes spin-0   { from { transform: rotate(0deg); }   to { transform: rotate(-360deg); } }
@keyframes spin-45  { from { transform: rotate(-45deg); }  to { transform: rotate(-405deg); } } /* -45 - 360 */
@keyframes spin-90  { from { transform: rotate(-90deg); }  to { transform: rotate(-450deg); } }
@keyframes spin-135 { from { transform: rotate(-135deg); } to { transform: rotate(-495deg); } }
@keyframes spin-180 { from { transform: rotate(-180deg); } to { transform: rotate(-540deg); } }
@keyframes spin-225 { from { transform: rotate(-225deg); } to { transform: rotate(-585deg); } }
@keyframes spin-270 { from { transform: rotate(-270deg); } to { transform: rotate(-630deg); } }
@keyframes spin-315 { from { transform: rotate(-315deg); } to { transform: rotate(-675deg); } }

/* Responsive */
@media (max-width: 768px) {
  .orbit-container { width: 300px; height: 300px; }
  
  .orbit-item:nth-child(2) { transform: rotate(0deg)   translateX(110px); }
  .orbit-item:nth-child(3) { transform: rotate(45deg)  translateX(110px); }
  .orbit-item:nth-child(4) { transform: rotate(90deg)  translateX(110px); }
  .orbit-item:nth-child(5) { transform: rotate(135deg) translateX(110px); }
  .orbit-item:nth-child(6) { transform: rotate(180deg) translateX(110px); }
  .orbit-item:nth-child(7) { transform: rotate(225deg) translateX(110px); }
  .orbit-item:nth-child(8) { transform: rotate(270deg) translateX(110px); }
  .orbit-item:nth-child(9) { transform: rotate(315deg) translateX(110px); }

  .orbit-item { width: 50px; height: 50px; margin: -25px 0 0 -25px; }
}

.proyecto-mision {
  margin-top: 80px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  line-height: 1.8;
  
  /* Estilo caja destacada */
  background: rgba(0, 0, 0, 0.2);
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.1);

  h3 {
    color: #00bef3;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  p {
    color: #f1f2f6;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
  }

img {
      width: 800px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 20px;
      border: 4px solid #e06b3d;
    }

}